pip~=25.1.1
attrs~=24.3.0
PySocks~=1.7.1
certifi~=2025.1.31
fastapi~=0.115.12
uvicorn~=0.34.2
telebot~=0.0.5
pyTelegramBotAPI~=4.27.0
requests~=2.32.3
typing_extensions~=4.13.2
urllib3~=2.4.0
idna~=3.10
charset-normalizer~=3.4.1
setuptools~=69.5.1
packaging~=25.0
Jinja2~=3.1.6
SQLAlchemy~=2.0.40
pytest~=8.3.5